* {
  padding: 10px;
}
body {
  background-color: rgb(237, 235, 235);
}
.container {
  display: flex;
}
.intro {
    margin: auto;
    padding: 10px;
  width: 40%;
}
.logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  background: rgb(173, 55, 154);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 50px;
}
.follow {
  text-align: center;
  padding: 10px;
  width: 50%;
  color: black;
}
.repos {
  width: 60%;
  padding-bottom: 10px;
}
.topBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.searchBar {
  width: 60%;
}
.buttons {
  display: flex;
  gap: 10px;
}
.buttons button {
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  background-color: white;
}
.reposList {
  border-bottom: 1px solid black;
}
.name {
  font-size: 25px;
  font-weight: 600;
}
.visibilty {
  border: 1px solid rgb(48, 47, 47);
  border-radius: 30px;
  padding: 5px;
}
.dot {
  height: 1px;
  width: 1px;
  background-color: #b56a6a;
  border-radius: 50%;
  display: inline-block;
}
/* ...................adding media query for responsiveness.......... */
@media only screen and (max-width: 800px) {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    background: rgb(173, 55, 154);
    width: 350px;
    height: 350px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
  }
}
@media only screen and (max-width: 900px) {
    .container {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .intro {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .logo {
      background: rgb(173, 55, 154);
      width: 350px;
      height: 350px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 50px;
    }
  }
